:root
{
    --editorial-lightblue: #47adf1;
    --q1-lightpurple: #9c72e4;
    --recruiting-lightgreen: #64c0a9;
    --mobile-orange: #f29e33;
    --website-purple: #d863a1;
    --sales-greenlight: #b0c926;

}
.immage
{
    float: left;

}

.body
{
    background-color: lightgray
}
.title
{
    text-transform: none;
    font-size: 50px
}
#button1
{
background-color: #47adf1;
color: white;
border: 2px solid #47adf1;
border-radius: 8px;
padding: 8px;
}

#button2
{
    background-color: rgb(224, 220, 220);
    border: 2px solid lightslategray;
    border-radius: 8px;
    padding: 8px;
}
.line
{
color: gray;
}