:root
{
    --editorial-lightblue: #47adf1;
    --q1-lightpurple: #9c72e4;
    --recruiting-lightgreen: #64c0a9;
    --mobile-orange: #f29e33;
    --website-purple: #d863a1;
    --sales-greenlight: #b0c926;

}
.immage
{
    float: left;

}

.title
{
    text-transform: none;
    font-size: 50px
}
.botton
{
border: none;
color: black;
padding: 15 px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}